@import 'variables.scss';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


// Navigation
.nav-container {
    background-color: #1199ff;
    margin: 0;
    padding: 1rem;
}

.nav-logo {
    font-size: 1.75rem;
    margin: 1rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-logo :visited {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    font-size: 1.25rem;
    margin: 1rem;
    color: #fff;
}

.nav-link :visited {
    color: #fff;
}

.nav-login {
    color: #fff;
    text-align: right;
}

// Counter page
.counter-page {
    text-align: center;
}